services:
  db:
    image: postgres:16
    container_name: devdb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ViZgie2d3WDasgN
      POSTGRES_DB: chatati
      TZ: UTC
      PGTZ: UTC
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
